.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .navbar{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header .navbar a{
    text-transform: uppercase;
    color: #919191;
    transition: all 0.3s ease;
}

.header .search{
    display: flex;
    align-items: center;
    gap: 6px;
    width: 70%;
    background-color: #1d1d1d;
    border: 1px solid #464748;
    padding: 10px;
    border-radius: 8px;
}

.header .search input{
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
}