.portfolio{
    background-color: #202026;
    ;
    padding: 110px 85px;
    margin: 25px 0;
    border-radius: 16px;
}

.portfolio .portfo-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.portfolio .portfo-items .item{
    width: 30%;
    background-color: #ffffffae;
    border-radius: 10px;
    border-bottom: 4px solid transparent;
    cursor: pointer;
    box-shadow: 0 5px 32px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

.portfolio .portfo-items .item:hover{
    border-color: #1b1729;
}

.portfolio .portfo-items .item .info{
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 20px 32px 42px;
}

.portfolio .portfo-items .item .info p{
    font-size: 13px;
}

.portfolio .portfo-items .item .info a{
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: #1b1729;
}

.portfolio .portfo-items .item .info a i{
    margin-left: 2px;
    font-size: 16px;
}

.img1 {
    background: url(../img/atolye.jpg) top / cover no-repeat;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 240px;
    padding: 20px 50px;
    border-radius: 10px;
}

.img2 {
    background: url(../img/yazokulları.jpg) top / cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 240px;
    padding: 20px 50px;
    border-radius: 10px;
}

.img3 {
    background: url(../img/yazilim.jpg) top / cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 240px;
    padding: 20px 50px;
    border-radius: 10px;
}