.sidebar {
    height: 100vh;
    background-color: #18181d;
    padding: 20px 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10000;
    transition: all 0.6s ease;
}

.sidebar .logo a:hover,
.sidebar .menu ul li:hover a,
.sidebar .menu ul li:hover i,
main header .nav-links a:hover {
    color: #5773ff;
}

.sidebar .menu h5 {
    color: #919191;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.sidebar .menu ul {
    list-style: none;
}

.sidebar .menu ul li {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.sidebar .menu ul li a {
    font-size: 14px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.sidebar .playing .top {
    background-color: #32323d;
    border-radius: 6px 6px 0 0;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    font-size: 13px;
}

.sidebar .playing .top img {
    width: 36px;
    height: 36px;
}

.sidebar .playing .bottom {
    background-color: #25252d;
    border-radius: 0 0 6px 6px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-size: 12px;
}

.sidebar .playing .bottom i,
.sidebar .playing .bottom p {
    color: #919191;
}

.me {
    background: url(../img/me.png) center / cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50px;
    padding: 20px 50px 60px;
    border-radius: 16px;
}
.logo {
    background: url(../img/logo.png) center / cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 7.5%;
}
